body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.timer {
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
}

.exercise {
  background-color: green;
  color: #fff;
}

.rest {
  background-color: red;
  color: #fff;
}
.slider {
  width: 200px;
  margin-bottom: 20px;
}


.button {
  margin-top: 10px;
}

.slider input {
  width: 100%;
}

.remaining {
  font-size: 18px;
  margin-top: 10px;
}
/* Estilos CSS previos */

.container {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

.timer {
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
  background-color: #fff;
}

.button {
  margin-top: 10px;
}

.remaining {
  font-size: 18px;
  margin-top: 10px;
}

.exercise {
  background-color: green;
}

.rest {
  background-color: red;
}
